@model PeopleViewModel

<div>
    <h3>Add a new person</h3>
    <form asp-controller="People" asp-action="Create" method="post">
        <fieldset>
            <div>
                <label asp-for="@Model.CreatePerson.SSN"></label>
                <input class="form-input" asp-for="@Model.CreatePerson.SSN">
                <span asp-validation-for="@Model.CreatePerson.SSN"> </span>
            </div>
            <div>
                <label asp-for="@Model.CreatePerson.FirstName"></label>
                <input class="form-input" asp-for="@Model.CreatePerson.FirstName">
                <span asp-validation-for="@Model.CreatePerson.FirstName"> </span>
            </div>
            <div>
                <label asp-for="@Model.CreatePerson.LastName"></label>
                <input class="form-input" asp-for="@Model.CreatePerson.LastName">
                <span asp-validation-for="@Model.CreatePerson.LastName"> </span>
            </div>
            <div>
                <label asp-for="@Model.CreatePerson.Phone"></label>
                <input class="form-input" asp-for="@Model.CreatePerson.Phone">
                <span asp-validation-for="@Model.CreatePerson.Phone"> </span>
            </div>

            <div>
                <label>Select City:</label>
                <select asp-for="@Model.CreatePerson.CityId" asp-items="Model.CitiesList"></select>
                <span asp-validation-for="@Model.CreatePerson.CityId"> </span>
            </div>

            <div>
                <label>Select languages:</label>
                <select multiple="multiple" asp-for="@Model.SelectedLanguages" asp-items="Model.LanguagesList"></select>
            </div>

            <button id="submit" type="submit">Save</button>
        </fieldset>
    </form>
</div>