@model PeopleViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
</div>

<p> <a href="/People/Create">Add a new user</a> </p>

<div>
    <form asp-controller="People" asp-action="Search" method="post">
        <input type="text" id="search" name="search">
        <button id="submit" type="submit">Search</button>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Person ID</th>
                <th scope="col">SSN</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Languages</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.People.Count != 0)
            {
                @foreach (var person in Model.People)
                {

                    <tr>
                        <td>@person.Id</td>
                        <td>@person.SSN</td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.Phone</td>
       
                        @if (person.CityId != null && person.City.CountryId != null)
                        {
                            <td>@person.City.CityName</td>
                            <td>@person.City.Country.CountryName</td>
                        }
                        else if (person.CityId != null && person.City.CountryId == null)
                        {
                            <td>@person.City.CityName</td>
                            <td>Null</td>
                        }
                        else
                        {
                            <td>Null</td>
                            <td>Null</td>
                        }

                        @foreach (var lang in person.Languages)
                        {
                            <td>@lang.LanguageName</td>
                        }

                        <td>
                            <a asp-action="Edit" asp-route-id="@person.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@person.Id">Delete</a>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>
</div>