
@model PeopleViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Person ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">City ID</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.People_.Count != 0)
            {
                @foreach (var person in Model.People_)
                {

                    <tr>
                        <td>@person.ID</td>
                        <td> @person.PersonName</td>
                        <td>@person.Phone</td>
                        <td>@person.CityId</td>
                    </tr>  

                }
            }

        </tbody>
    </table>
</div>

