@model  Countries_ViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>

    @if (Model.Countries.Count == 0)
    {
        <p>List is Empty!</p>
    }
</div>

<div>
    <p> <a href="/Countries/Add">Add Country</a> </p>
</div>

<div>
    <form asp-controller="Countries" asp-action="Search" method="post">
        <input type="text" id="search" name="search">
        <button id="submit" type="submit">Search</button>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country ID</th>
                <th scope="col">Country Name</th>
                <th scope="col">Country Cities</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Countries.Count != 0)
            {
                @foreach (var country in Model.Countries)
                {

                    <tr>
                        <td>@country.Id</td>
                        <td> @country.CountryName</td>
                        @foreach (var city in country.Cities)
                        {
                            <td>@city.CityName</td>
                        }
                        <td>
                            <a asp-action="Edit" asp-route-id="@country.Id">Edit</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
