@model Cities_ViewModel


<div>
    <h2>Cities</h2>
    <h4>List of cities</h4>

    @if (Model.Cities.Count == 0)
    {
        <p>List is Empty!</p>
    }
</div>

<div>
    <p> <a class="btn btn-success" href="/Cities/Add">Add City</a> </p>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">City ID</th>
                <th scope="col">City Name</th>
                <th scope="col">Country Name</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Cities.Count != 0)
            {
                @foreach (var city in Model.Cities)
                {

                    <tr>
                        <td>@city.Id</td>
                        <td> @city.CityName</td>
                        <td>@city.Country.CountryName</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@city.Id">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@city.Id">Delete</a>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>
</div>

