@model PeopleViewModel

    <h4>Partial View - Users List</h4>
    <div>

        @if (Model.People.Count != 0)
        {
            @foreach (var person in Model.People)
            {


                <div class="row">
                    <div class="col">
                        @person.SSN
                    </div>
                    <div class="col">
                        @person.FirstName
                    </div>
                    <div class="col">
                        @person.LastName
                    </div>
                    <div class="col">
                        @person.Phone
                    </div>
                    <div class="col">
                        @person.City.CityName
                    </div>
                </div>


            }
        }
        @if (Model.People.Count == 0)
        {
            <p>The list is empty!</p>
        }

    </div>

