@model PeopleViewModel


    <h2>Partial View - User Details</h2>
    <h4>@Model.Message</h4>

    <p> <a href="/People/People">Back to Index</a> </p>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">SSN</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">City</th>
                    <th scope="col">Languages</th>
                </tr>
            </thead>
            <tbody>
              @if (Model.Person != null)
              {
                   
               <tr>
                   <td>@Model.Person.Id</td>
                   <td>@Model.Person.SSN</td>
                   <td>@Model.Person.FirstName</td>
                   <td>@Model.Person.LastName</td>
                   <td>@Model.Person.Phone</td>
                   <td>@Model.Person.City.CityName</td>
                   @foreach (var lang in Model.Person.Languages)
                   {
                       <td>@lang.LanguageName</td>
                   }

                   <td>
                       <a asp-action="DeleteUser" asp-route-id="@Model.Person.Id">Delete</a>
                   </td>
               </tr>

               }

            </tbody>
        </table>
    </div>
