@model Languages_ViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>

    @if (Model.Languages.Count == 0)
     {
        <p>List is Empty!</p>
     }
</div>

<div>
    <p> <a href="/Languages/Add">Add language</a> </p>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Language ID</th>
                <th scope="col">Language</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Languages.Count != 0)
            {
                @foreach (var language in Model.Languages)
                {
                    <tr>
                        <td>@language.Id</td>
                        <td>@language.LanguageName</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@language.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@language.Id">Delete</a>
                        </td>
                    </tr>
              
                }
            }

        </tbody>
    </table>
</div>
